node_modules
.pnpm-store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist
**/dist
logs
coverage
.nyc_output

.git
.gitignore
.cursor
.vscode
.idea

.env
.env.*
!.env.example

postman
**/*.md
!README.md

tmp
temp
.VSCodeCounter
